html {
  font-size: 62.5% !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

body {
  background: #fff !important;
  line-height: 1.3;
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  height: 100%;
  margin: 10px;
}

.container {
  padding: 15px 45px 15px 45px;
  margin-right: auto;
  margin-left: auto;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none !important;
  background: 0 0;
  outline: 0 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn {
  border-color: transparent;
  font-weight: 600;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.75rem 3rem;
  font-size: 1.125rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}
/* AT HEADRE */
.At-Header {
  position: relative;
}
.logo {
  width: 50px;
  height: 50px;
}
.pricing {
  position: relative;
  left: 9rem;
}
#home {
  font-size: 25px;
  color: #000;
  margin-right: 10rem;
}
#home:hover {
  color: blue;
}
.logo-heading {
  color: black;
  font-size: 32px;
  font-weight: 600;
}
#singin {
  background-image: linear-gradient(to right, #6267cd, #a35ccb);
  border-radius: 20px;
  font-size: 18px;
  padding: 1rem 4rem 1rem 4rem;
  color: #fff;
  border: none;
}

.navbar-toggler-icon {
  color: gray;
  display: inline-block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 5px;
  background: darkgray;
}

/* AT HEADRE ENDS */
/*At-SectioNBusinessApplication START*/
.At-SectioNBusinessApplication {
  position: relative;
  margin-top: 20rem;
}
.group523 img {
  position: absolute;
  left: 0px;
  top: 13rem;
}
.float-imges img {
  position: absolute;
  right: 0px;
  top: -22rem;
}
.lorim-text {
  color: blue;
  font-size: 20px;
  letter-spacing: 5px;
}
.business-text {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 6rem;
  margin-top: 5rem;
  text-shadow: 0px 0px #000;
  line-height: 76px;
}
.streamline {
  font-size: 25px;
  margin-top: 5rem;
  color: #94a3af;
  margin-bottom: 7rem;
}
.site-header .input-group {
  opacity: 2;
  transform: none;
  position: relative;
  z-index: 1000;
}
#home1 {
  font-size: 25px;
  margin-right: 10rem;
}
.input-group .form-control {
  color: gray;
  font-size: 25px;
  background-color: white;
  padding: 3rem 3rem !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.texting {
  font-size: 19px;
  color: #fff;
}
.texting:hover {
  color: #fff;
}

.input-group-append {
  background-image: linear-gradient(to right, #6267cd, #a35ccb);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.input-group-append:hover {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.google-download {
  margin-top: 12rem;
  width: 20rem;
  cursor: pointer;
  filter: grayscale(100%);
}
.google-download:hover {
  filter: grayscale(0);
}
.xero-download {
  margin-top: 13rem;
  width: 20rem;
  cursor: pointer;
  filter: grayscale(100%);
}
.xero-download:hover {
  filter: grayscale(0);
}
.zoom-download {
  margin-top: 13.95rem;
  width: 20rem;
  cursor: pointer;
  filter: grayscale(100%);
}
.zoom-download:hover {
  filter: grayscale(0);
}
.moodle-download {
  margin-top: 7rem;
  width: 20rem;
  cursor: pointer;
  filter: grayscale(100%);
}
.moodle-download:hover {
  filter: grayscale(0);
}

/*At-SectioNBusinessApplication ends*/
/*At-cardSectioN start*/
.At-cardSectioN {
  position: relative;
}
.cardsection {
  margin-top: 5rem;
  height: 500px;
  background-color: #f4f4f2;
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
}
.applicationscreenshort {
  font-size: 30px;
  color: gray;
  position: relative;
  top: 24rem;
  opacity: 0.7;
}
/*At-cardSectioN ends*/
/*At-leromIspumSectioN start*/
.At-leromIspumSectioN {
  margin-top: 10rem;
}
.loremipsum {
  color: #33475b;

  opacity: 0.8;
  font-weight: 600;
  font-size: 40px;
  text-shadow: 0px 0px #000;
}
.businessimages {
  width: 100%;
  margin-top: -14rem;
  border-radius: 5px;
  transition: transform 0.5s;
}
.businessimages:hover {
  transform: translateY(-10px);
}
#businessimages {
  transition: transform 0.5s;
}
#businessimages:hover {
  transform: translateY(-10px);
}

.loremipsum-text {
  color: #95a2b3;
  opacity: 0.6;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.imageslerom {
  margin-top: 10rem;
}

/*At-leromIspumSectioN ends*/
/* At-somethingSectioN start*/
.At-somethingSectioN {
  margin-top: 10rem;
}
.loremipsum-text1 {
  padding: 2rem 2rem;
  background-color: #f8f8f7;
  color: #95a2b3;
  opacity: 0.6;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 26px 0 rgb(0 0 0 / 10%);
}
.ti-angle-down {
  transition: 0.3s;
  opacity: 0.7;
  font-size: 25px;
  margin-top: 27px;
  right: 18rem;
  position: absolute;
  font-weight: 900;
  z-index: 2;
}
/*At-somethingSectioN ends*/
/* At-TestimonialsSectioN start*/
.At-TestimonialsSectioN {
  margin-top: 10rem;
}
.background-images {
  position: relative;
  width: 100%;
  background: linear-gradient(
    254.17deg,
    rgba(94, 106, 210, 0.25) 1.02%,
    rgba(255, 234, 187, 0.25) 106.15%
  );
  height: 500px;
  border-radius: 25px;
}
.Ellipse {
  position: absolute;
  margin-top: -18.25rem;
}
.Ellipse17 {
  position: absolute;
  right: 15rem;
  margin-top: 86px;
}
.being-text {
  position: relative;
  top: 10rem;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 1px;
  color: #5c5c5c;
}
.circle {
  position: relative;
  top: 21rem;
  margin-left: 20px;
}
.logo-group {
  position: relative;
  top: 16rem;
}

/*At-TestimonialsSectioN ends*/

/* At-AffordableSectioN start*/
.At-AffordableSectioN {
  margin-top: 10rem;
}
.pricing-text {
  color: #99a7b1;
  font-size: 25px;
}
.monthly {
  color: #7165cc;
  border-bottom: 13px solid #ffca6a;
  border-radius: 6px;
}

.or {
  color: #7165cc;
}
.card-boss {
  margin-top: 10rem;
}
/* BG */
.shadow {
  border-radius: 1.5rem !important;
  border: 0;
  padding: 3rem;
  box-shadow: 0 10px 17px 0 rgb(0 0 0 / 11%) !important;
  transition: transform 0.5s;
}
.shadow:hover {
  transform: translateY(-10px);
}
.like {
  color: #7165cc;
  font-size: 25px;
  font-weight: 600;
  /* 👤 Individual */

  font-family: Inter;

  /* identical to box height, or 178% */
  display: flex;
  align-items: center;
  letter-spacing: 0.165278px;

  /* Purple / Dark */
  color: #6c5ce7;
}
.free {
  font-size: 55px;
  font-weight: 700;
  box-shadow: 32px -35px 100px rgba(218, 223, 230, 0.4);
  border-radius: 12px;
}
.small {
  font-size: 20px;
  margin-left: 1rem;
}
.besti {
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
}
.system {
  font-weight: 600;
  margin-top: 6px;
  font-size: 15px;
  margin-left: 5px;
  opacity: 0.9;
}
.icon-acrylic {
  display: inline-flex;
}
.try-for-free {
  background: #efeeec;
  padding: 2rem 7rem 2rem 8rem;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
.Regular-license {
  color: #fff;
  background-image: linear-gradient(to right, #6267cd, #a35ccb);
  padding: 2rem 7rem 2rem 5rem;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
.Regular-license:hover {
  color: #fff;
}
.icons {
  height: 35px;
  width: 35px;
}
.card1 {
  margin-top: 11rem;
}
.card2 {
  margin-top: 6rem;
}

/*footer*/
.footer {
  border-top: 5px solid #ffd061;
  margin-top: 15rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background: linear-gradient(180deg, #ffeabb 0%, rgba(255, 234, 187, 0) 100%);
}
.footer-heading {
  font-size: 37px;
  letter-spacing: 2px;
}
.footer-text {
  opacity: 0.7;
  font-size: 23px;
}
.footer-pricing {
  position: relative;
  padding-top: 10rem;
}
.footer-link {
  color: black;
  font-size: 25px;
  margin: 10px;
}
.facebook {
  margin: 13px;
}
.form {
  max-width: 595px;
}
.logo-class {
  display: flex;
}
.home-pages {
  margin-left: 16rem;
  margin-top: 1rem;
}
.facebook-pages {
  margin-left: 15rem;
}

/*------------------------------------------------------
--------------------------------------------------------
-------------------------------------------------------*/
/* signin*/
.site-header {
  background: #3c2c6c;
}
.sign1 {
  font-size: 6rem;
}
.AT-SECTIONhowWORK1 {
  background: url(\../images/Vector\ 65.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 35rem;
  padding-top: 10rem;
}

.logo-heading1 {
  width: 100px;
  height: 35px;
  margin-left: 10px;
  font-weight: 600;
}
.active-page {
  border-bottom: 4px solid #576bd1;
}
.sign {
  font-size: 6rem;
}
.vector {
  position: relative;
  top: -2rem;
  left: 7rem;
}
.At-Emailsection {
  position: relative;
  margin-top: -30rem;
}

.form-group {
  margin-bottom: 1.625rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #d0514d;
}
.form-group {
  border: none;
  box-shadow: 0 10px 17px 0 rgba(0 0 0 15%);
}
#user_email {
  border: 1px solid #eee;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
  color: #495057;
  padding: 3.375rem 4.75rem;
  font-size: 2rem;
  margin-bottom: 5rem;
}
.btn-primarysignin:hover {
  color: #fff;
}
.btn-primarysignin {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 19px;
  color: #fff;
  background-color: #3e2b6b;
  border-color: #05f;
  box-shadow: 0 2px 3px rgb(0 85 255 / 0%);
}
.forget {
  color: #576bd1;
  font-size: 20px;
}
.emailshadow {
  border-radius: 1.5rem !important;
  border: 0;
  padding: 5rem;
  box-shadow: 0 10px 17px 0 rgb(0 0 0 / 11%) !important;
}
.At-footer {
  background-color: #3c2c6c;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-top: 10rem;
}
.backtoaccount {
  font-size: 2rem;
  font-weight: 700;
}
/*-----------------------------------------------------------
--------------------------------------------------------------
------------------Choose the page vatiations----------------*/

.vector-1 {
  position: relative;
  top: 12rem;
  left: 7rem;
}
.vector-2 {
  position: relative;
  top: 14.25rem;
}
.intianl-setup {
  color: #fff;
  font-weight: 600;
  position: absolute;
  background: #09b396;
  font-size: 16px;
  top: -2rem;
  left: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.intianl-setup4 {
  color: #fff;
  font-weight: 600;
  position: absolute;
  background: #09b396;
  font-size: 16px;
  top: -2rem;
  left: 33px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.intianl-setup2 {
  color: #fff;
  font-weight: 600;
  position: absolute;
  background: #09b396;
  font-size: 16px;
  top: -2rem;
  left: 11px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.intianl-setup1 {
  color: #fff;
  font-weight: 600;
  position: absolute;
  background: #09b396;
  font-size: 16px;
  top: -2rem;
  left: 10rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}
.one {
  position: absolute;
  text-align: center;
  margin: 1.25rem 0rem 0rem -0.5rem;
}
.border-line {
  position: relative;
  width: 130px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  left: 3rem;
}
.text-setup {
  position: relative;
  left: 2rem;
  top: -0.75rem;
  color: #fff;
}
.text-setup1 {
  position: relative;
  left: 4rem;
  top: -0.75rem;
  color: #fff;
}
.text-setup2 {
  position: relative;
  left: 4rem;
  top: -0.75rem;
  color: #fff;
}
.text-setup3 {
  position: relative;
  left: 6rem;
  top: -0.75rem;
  color: #fff;
}
.border-line1 {
  position: relative;
  width: 100px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  left: 4.55rem;
}
.border-line2 {
  position: relative;
  width: 100px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  left: 17.55rem;
  top: -1.57rem;
}
.fetch {
  padding: 15px 23px 15px 23px;
  font-weight: 500;
  font-size: 16px;
  background-color: #3e2b6b;
  color: #fff;
}
.fetch:hover {
  color: #fff;
}
.png {
  position: relative;
}
.background-png {
  position: relative;
}
.element {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.emailshadow1 {
  border-radius: 1.5rem !important;
  border: 0;
  padding: 3rem;
  box-shadow: 0 10px 17px 0 rgb(0 0 0 / 11%) !important;
}
.ti-layout {
  font-size: 20px;
  font-weight: bold;
}
.bg-png {
  position: absolute;
  left: 1rem;
  top: -0.5rem;
}
.textdiv {
  margin-top: 5rem;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 10px;
}
.picture {
  height: 300px;
  margin-top: 40px;
  border: 2px solid #00a3fb;
}
.ti-arrow-left {
  font-size: 33px;
  font-weight: bold;
  color: #5e6ad2;
  margin-right: 10px;
}
.ti-arrow-right {
  margin-left: 10px;
}
.back {
  color: #5e6ad2;
  font-size: 25px;
}
.linediv {
  position: absolute;
  width: 430px;
  height: 25px;
  background: #f5f7fe;
  border-radius: 8px;
}
.insidelinediv {
  position: absolute;
  width: 148px;
  height: 25px;
  border-radius: 20px;
  background: #5e6ad2;
  animation-name: animate;
  animation-duration: 2s;
  transition: 2s linear;
}

@keyframes animate {
  0% {
    width: 148px;
  }

  50% {
    width: 425px;
  }

  0% {
    left: 0;
  }
}
.divs {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.input-group {
  box-shadow: 0px 2px 20px 0px rgb(0 0 0 / 10%) !important;
}
.input-group-text {
  color: #8c8c8c;
  background: none;
  font-size: 2rem;
  border: none;
}
.form-control {
  border: none;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
}
.target-url {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2rem;
}
.target-url-1 {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 2rem;
}
.copy-png {
  position: absolute;
  right: 2rem;
}
.pagehead {
  color: blue;
}
/* ekkell.ai*/

.ekkel-ai {
  font-size: 6rem;
}
.ekkel-ai1 {
  font-size: 6rem;
}
.webpage {
  font-size: 20px;
  font-weight: 600;
}
.link {
  margin-left: 3rem;
  color: gray;
  font-size: 20px;
  opacity: 0.5;
}
.btnsecondary {
  opacity: 0.5;
  font-size: 18px;
  border: 1px solid #95a2b3;
}
.goback {
  color: #000;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  right: 20px;
  padding: 1rem;
  font-weight: 700;
  font-size: 16px;
}
.grounpimages {
  position: relative;
  width: 485px;
  height: 179px;
  background: #f5f7fe;
  margin-bottom: 7rem;
}
.group543 {
  position: absolute;
  right: 3rem;
  top: 14rem;
}
.autopaly {
  position: absolute;
  right: 5rem;
  color: gray;
  font-size: 20px;
}
.website1 {
  padding: 2rem;
}
.Variation {
  position: relative;
  width: 258px;
  height: 100px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
}
.Variation-1 {
  position: absolute;
  width: 258px;
  height: 50px;
  padding: 1.75rem;
  /* Primary */
  color: #fff;
  background: #5e6ad2;
  border-radius: 16px 16px 0px 0px;
  font-weight: 600;
}
/* Rectangle 189 */

.Original {
  position: absolute;
  width: 258px;
  height: 50px;
  top: 5rem;
  background: #ffffff;
  border: 2px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 0px 0px 16px 16px;
  padding: 1.75rem;
  font-weight: 600;
}
.zero {
  position: absolute;
  right: 15px;
  color: #fff;
  background: black;
  padding: 3px 5px 3px 6px;
  border-radius: 10px;
  opacity: 0.7;
}
.conversion {
  font-weight: 600;
  font-size: 20px;
}
.conversion-rate {
  position: absolute;
  width: 639px;
  height: 438px;
  background: #f5f7fe;
  border-radius: 16px 16px 0px 0px;
}
