@media (max-width: 902px) {
  #home {
    font-size: 34px;
  }
  .group523 img {
    left: -50rem;
  }
  .Ellipse17 {
    right: 11.75rem;
    margin-top: 114px;
  }
  .shadow {
    padding: 11rem;
  }
  .logo-heading {
    margin-left: -25rem;
  }
  .lorim-text {
    margin-top: 20rem;
  }

  br {
    display: none;
  }
  .business-text {
    line-height: 55px;
    font-size: 5rem;
  }
  .google-download {
    width: 16rem;
  }
  .xero-download {
    width: 16rem;
  }
  .zoom-download {
    width: 16rem;
  }
  .moodle-download {
    margin-top: 8rem;
    width: 16rem;
  }
  #businessimages {
    margin-top: 5rem;
  }
  .container {
    padding: 15px 25px 15px 25px;
  }
  .ti-angle-down {
    right: 13rem;
  }
  .card1 {
    margin-top: 0rem;
  }
  .card {
    margin-top: 5rem;
  }
  .Regular-license {
    padding: 2rem 14rem 2rem 13rem;
  }
  .try-for-free {
    padding: 2rem 17rem 2rem 18rem;
  }
  .home-pages {
    margin-left: 1rem;
    margin-top: 7rem;
  }
  .business {
    margin-top: -15rem;
  }
  .text-setup3 {
    left: 11rem;
  }
  .sign {
    font-size: 4rem;
  }
  #home1 {
    font-size: 22px;
    margin-right: 3rem;
  }
  #example {
    font-size: 11px;
  }
  .coging-png {
    width: 100%;
  }
  .website1 {
    padding: 7rem;
  }
  .grounpimages {
    width: 281px;
  }
  .desktop {
    margin-top: 3rem;
  }
  .conversion-rate {
    width: 390px;
  }
}
@media (max-width: 867px) {
  .ti-angle-down {
    right: 11rem;
  }
  .Ellipse17 {
    right: 9.75rem;
  }
  .form {
    max-width: 670px;
  }
  .home-pages {
    margin-left: 1rem;
    margin-top: 7rem;
  }
}
@media (max-width: 768px) {
  .lorim-text {
    margin-top: 30rem;
  }
  .ti-angle-down {
    right: 7rem;
  }
  .Ellipse17 {
    right: 4.75rem;
  }
  .footer-heading {
    margin-bottom: 60px;
  }
  .home-pages {
    margin-left: 1rem;
    margin-top: 7rem;
  }
  .intianl-setup1 {
    margin-left: -2rem;
  }
  .text-setup3 {
    left: 8rem;
  }
  .sign {
    font-size: 4rem;
  }
  .vector-1 {
    top: 9rem;
  }
  .vector-2 {
    top: 11.25rem;
  }
  .ekkel-ai1 {
    font-size: 3rem;
  }
}
@media (max-width: 678px) {
  .logo-heading {
    margin-left: -17rem;
  }

  .intianl-setup2 {
    top: -2rem;
    left: 2rem;
  }

  .intianl-setup4 {
    top: -2rem;
    left: 4rem;
  }
  .intianl-setup1 {
    top: -2rem;
    left: 8rem;
  }
  .sign {
    font-size: 4rem;
  }
  .text-setup3 {
    left: 0rem;
  }
  .AT-SECTIONhowWORK1 {
    padding-top: 5rem;
  }

  .container {
    padding: 15px 15px 15px 15px;
  }
  .google-download {
    margin-top: 5rem;
  }
  .zoom-download {
    width: 20rem;
    margin-top: 3rem;
  }

  .xero-download {
    width: 18rem;
    margin-top: 3rem;
  }
  .moodle-download {
    margin-top: 0rem;
    width: 20rem;
  }
  .cardsection {
    margin-top: 0rem;
    height: 440px;
  }
  .applicationscreenshort {
    top: 20rem;
  }
  .loremipsum-text1 {
    padding: 1rem 1rem;
    font-size: 21px;
  }
  .ti-angle-down {
    right: 9rem;
  }
  .Ellipse17 {
    right: 8.75rem;
  }
  .shadow {
    padding: 3rem;
  }
  .home-pages {
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .facebook-pages {
    margin-left: 4rem;
  }
  .logo-pages {
    margin-left: 32px;
  }
  .ekkel-ai {
    font-size: 5rem;
    margin-left: -26rem;
  }
  .btnsecondary {
    margin-top: 3rem;
  }
  .grounpimages {
    width: 430px;
  }
  .autopaly {
    top: 3rem;
    right: 7rem;
  }
  .ekkel-ai1 {
    margin-left: -28rem;
    font-size: 3rem;
  }
  .conversion-rate {
    width: 0px;
  }
  .border-line2 {
    top: 0rem;
  }
}
@media (max-width: 576px) {
  .group523 {
    left: -33rem;
  }
  .logo-heading {
    margin-left: -16rem;
  }

  .cardsection {
    height: 350px;
  }
  .applicationscreenshort {
    top: 16rem;
  }
  .loremipsum-text1 {
    padding: 2rem 2rem;
    font-size: 16px;
  }
  .being-text {
    top: 6rem;
    font-size: 23px;
  }
  .ti-angle-down {
    right: 5rem;
  }
  .Ellipse17 {
    right: 3.25rem;
  }
  .home-pages {
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .facebook-pages {
    margin-left: 4rem;
  }
  .logo-pages {
    margin-left: 32px;
  }
}

@media (max-width: 480px) {
  .linediv {
    width: 375px;
  }
  @keyframes animate {
    0% {
      width: 148px;
    }

    50% {
      width: 375px;
    }

    0% {
      left: 0;
    }
  }
  .profile {
    float: right;
  }
  .try-for-free {
    padding: 2rem 14rem 2rem 15rem;
  }
  .Regular-license {
    padding: 2rem 12rem 2rem 11rem;
  }
  .container {
    padding: 15px 20px 15px 20px;
  }
  .ti-angle-down {
    right: 3rem;
    font-size: 18px;
  }
  .home-pages {
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .facebook-pages {
    margin-left: 4rem;
  }
  .logo-pages {
    margin-left: 32px;
  }
  .grounpimages {
    width: 355px;
  }
  .autopaly {
    top: 1rem;
    right: 0rem;
  }
  .ekkel-ai {
    font-size: 5rem;
    margin-left: -18rem;
  }
  .ekkel-ai1 {
    margin-left: -18rem;
  }
}
@media (max-width: 414px) {
  .sign {
    font-size: 3rem;
    margin-top: 4rem;
  }
  .logo-heading {
    margin-left: -12rem;
  }
  .business-text {
    line-height: 55px;
    font-size: 4rem;
  }
  .input-group .form-control {
    font-size: 13px;
    padding: 2.75rem 1.75rem !important;
  }
  .loremipsum {
    font-size: 36px;
  }
  .loremipsum-text {
    text-align: center;
    font-size: 21px;
  }
  .Ellipse17 {
    right: 2.25rem;
    margin-top: 141px;
  }
  .logo-group {
    top: 9rem;
  }
  .circle {
    top: 12rem;
  }
  .try-for-free {
    padding: 2rem 11rem 2rem 11rem;
  }
  .Regular-license {
    padding: 2rem 8rem 2rem 8rem;
  }
}
@media (max-width: 375px) {
  .logo-heading {
    margin-left: -10rem;
  }
  .text-setup2 {
    left: 5rem;
  }
  .border-line2 {
    width: 91px;
    left: 5.55rem;
  }
  .businessimages {
    width: 106%;
  }
  .text-setup1 {
    left: 3rem;
  }
  .border-line {
    left: 4rem;
  }
  .text-setup3 {
    left: -4rem;
  }
  .text-setup {
    left: 3rem;
  }
  .picture {
    height: 225px;
  }
  .terms {
    font-size: 20px;
    margin-bottom: 5rem;
  }
  .twitter {
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 0rem;
  }

  .business-text {
    line-height: 48px;
    font-size: 4rem;
  }
  .input-group .form-control {
    font-size: 13px;
    padding: 2.75rem 1.75rem !important;
  }
  .texting {
    font-size: 10px;
  }
  .At-leromIspumSectioN {
    margin-top: 5rem;
  }
  .cardsection {
    height: 300px;
  }
  .applicationscreenshort {
    top: 12rem;
  }

  .ti-angle-down {
    right: 4rem;
    font-size: 25px;
    margin-top: 41px;
  }
  .logo-group {
    position: relative;
    top: 10rem;
  }
  .Ellipse17 {
    right: 2.25rem;
    margin-top: 141px;
  }
  .loremipsum {
    margin-top: 0rem;
  }
  .loremipsum {
    font-size: 32px;
  }
  .pricing-text {
    font-size: 23px;
  }
  .try-for-free {
    padding: 2rem 9rem 2rem 9rem;
  }
  .Regular-license {
    font-size: 13px;
    padding: 2rem 9rem 2rem 9rem;
  }
  .footer-heading {
    font-size: 40px;
    margin-bottom: 33px;
  }
  .footer-text {
    font-size: 18px;
  }

  .footer-pricing {
    width: 90%;
  }
  .home-pages {
    margin-left: 6rem;
    margin-top: 4rem;
  }
  .facebook-pages {
    margin-left: 6rem;
  }
  .being-text {
    font-size: 16px;
  }
  .loremipsum-text {
    text-align: center;
    font-size: 18px;
  }
  .loremipsum-text1 {
    padding: 1rem 1rem;
    font-size: 16px;
  }
  .footer-link {
    font-size: 30px;
    margin-right: 88px;
  }

  #user_email {
    padding: 3rem 4.75rem;
    font-size: 1.55rem;
    margin-bottom: 3rem;
  }
  #home1 {
    font-size: 20px;
    margin-right: 3rem;
  }
  .emailshadow {
    padding: 1rem;
  }
  .btn-primarysignin {
    font-size: 21px;
    padding: 1rem 11rem 1rem 11rem;
  }
  #example {
    font-size: 8px;
  }
  .linediv {
    width: 250px;
  }
  @keyframes animate {
    0% {
      width: 148px;
    }

    50% {
      width: 250px;
    }

    0% {
      left: 0;
    }
  }
  .insidelinediv {
    width: 70px;
  }
  .intianl-setup {
    left: 18px;
  }
  .intianl-setup4 {
    left: 2rem;
  }
  .intianl-setup1 {
    left: 4rem;
  }
  .copy-png {
    right: 0rem;
  }
  .ekkel-ai {
    font-size: 4rem;
    margin-left: -13rem;
  }
  .link {
    margin-left: 0rem;
  }
  .website1 {
    padding: 5rem;
  }
  .grounpimages {
    width: 245px;
  }
  .ekkel-ai1 {
    margin-left: -9rem;
  }
  .profileimages {
    margin-top: -5rem;
  }
}
@media (max-width: 320px) {
  .logo-heading {
    margin-left: -7rem;
  }
  .At-Header .float-imges img {
    left: 1.25rem;
  }
  .Ellipse17 {
    right: 2.25rem;
    margin-top: 170px;
  }
  .try-for-free {
    font-size: 14px;
    padding: 2rem 9rem 2rem 9rem;
  }
  .shadow {
    padding: 1rem;
  }
  .Regular-license {
    font-size: 13px;
    padding: 2rem 7rem 2rem 7rem;
  }
  .footer-heading {
    font-size: 32px;
  }
  #home1 {
    font-size: 20px;
    margin-right: 3rem;
  }
}
